.commodityButton, .commodityLabel { 
	cursor:pointer; }

.route { 
	fill: none; 
	stroke: #c5050c;
	stroke-linejoin: round;
	cursor: pointer;
	mix-blend-mode: screen;

}

svg { 
	background: #181919; 
}


.node { 
	fill: #c5c3bf; 
	stroke:#bebcbb; 
	stroke-width: 2px;
}
  
.tract{
	fill:#343332;
	stroke: #6f6e6f;
	stroke-width: 2px;
}

.daneCT{
	fill: #252524;
	stroke: #6f6e6f;
	stroke-width: 1px;

}

#map {
	width: 75vw;
	height: 75vh;
}
  
.infolabel {
    position: absolute;
    height: 15px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
    font-size: .75em;
    top: -75px;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
    font-size: 1em;
